.aboutTitle {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #ff69b4; /* Pinkish color for the title */
    text-shadow: 1px 1px 2px rgba(255, 105, 180, 0.5); /* Adding slight text shadow */
    animation: fadeInDown 0.5s ease-out;
    /* Animation to fade in the title */
    text-align: center; /* Centering the text horizontally */
}

  
  .projectButton {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .projectButton:hover {
    color: #3182ce;
  }
  
  .projectsContainer {
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjust minmax value as needed */
    gap: 30px;
    list-style: none;
  }
  
  
.projectCard {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;

  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.projectsContainer .projectCard .projectDetails .projectTitle {
  font-weight: bold; /* Make the font bold */
  transition: color 0.3s ease;
  font-size: 1.6rem;
  color: #f89ce7;
}

.projectsContainer .projectCard .projectDetails .projectTitle:hover {
  color: #961e03; /* Change color on hover */
}


.projectImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  border-radius: 8px 8px 0 0; /* Rounded corners for the top */
  transition: transform 0.3s ease, filter 0.3s ease; /* Add transition for smooth scaling and grayscale effect */

  /* Advanced styling */
  filter: sepia(100%) saturate(0%); /* Convert the image to sepia with no saturation */
}

/* Hover effect to show original image */
.projectImage:hover {
  filter: none; /* Remove sepia filter on hover */
  transform: scale(1.05); /* Scale up the image slightly on hover */
}

  
  .projectDetails {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
   
    border-radius: 0 0 8px 8px; /* Rounded corners for the bottom */
  }
  
  
  .projectTitle {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  
.projectsContainer {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    max-width: 1200px; /* Adjust the maximum width as needed */
  }
  
  .projectDescription {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  .projectLinks {
    display: flex;
    justify-content: space-between;
  }
  
  .projectLink {
    font-size: 1rem;
    text-decoration: none;
    color: #3182ce;
    transition: color 0.3s ease;
  }
  .projectDescription{
    font-size: 1.2rem;
  }
  .projectLink:hover {
    color: #2c5282;
  }
  /* Achivementsection.module.css */

.minimizedImage {
    max-width: 300px; /* Adjust the width as needed */
    max-height: 300px; /* Adjust the height as needed */
  }
  @media (min-width: 968px) {
    .projectsContainer {
      grid-template-columns: repeat(2, 1fr);
    }
  }